<div class="header center-align">
  <span data-options="disable_for_touch:true" data-tooltip aria-haspopup="true" class="has-tip tip-bottom info-only"
  title="To get it to play a song or video, say 'Play...' and then the title, artist or key words for the video you want. The words will appear in the box below so you can see what the speech recognition software thinks you've said!">
    <h2>Tell it what you want it to play
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </h2>
  </span>
</div>
